@model Kooboo_CMS.Areas.Integration.Models.ImportDataModel
<div class="import-info">
    <dl>
        <dt>
            Items to import
        </dt>
        <dd>
            @Model.ItemsToImport
        </dd>
    </dl>
</div>