
<div>
    <h3 class="title">@Html.Raw(ViewBag.StartPageBanner.Image ?? "")</h3>
    <div class="content">   
        
        <div>
            @Html.Raw(ViewBag.StartPageBanner.Header ?? "")
        </div>

        <div>
            @Html.Raw(ViewBag.StartPageBanner.Text ?? "")
        </div>

    </div>
</div> 