
<h3 class="title">@Html.Raw(ViewBag.AnimalDetail.Header ?? "")</h3>
@foreach(var file in ContentHelper.SplitMultiFiles(ViewBag.AnimalDetail.Images))
{
	<img src="@file" alt=""/>
}
<div>
	@Html.Raw(ViewBag.AnimalDetail.Text ?? "")
</div>