<footer id="footer">
  	<ul>
        @foreach (var item in ViewBag.FooterItems){
        <li class="footer-item">
            <h3>
              @item.Header
			</h3>
          	<div>
              @item.Text
          </div>
        </li>
        }
    </ul>
</footer>