<?xml version="1.0"?>
<menu>
  <items>
    <add name="Root" text="Integration" >
      <items>
        <add name="Settings" text="Settings" action="Index" controller="Admin" visible="true" permissionGroup="" permissionName="Settings" >
          <items>
            <add name="Initialize" text="Initialize" action="InitializeModule" controller="Admin" visible="true" ></add>
          </items>
        </add>
        <add name="Integration" text="Integration" action="Index" controller="IntegrationAdmin" role="content manager"></add>
      </items>
    </add>
  </items>
</menu>