<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2013-09-12T13:16:51.0734772Z</LastUpdateDate>
	<CacheToDisk>false</CacheToDisk>
	<RequireHttps>false</RequireHttps>
	<IsDefault>true</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle>Nyheter</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier></Identifier>
		<RoutePath></RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>true</Show>
		<DisplayText></DisplayText>
		<Order>0</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<AllowGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<AuthorizeMenu>false</AuthorizeMenu>
		<RequireMember>false</RequireMember>
		<UnauthorizedUrl></UnauthorizedUrl>
	</Permission>
	<Layout>one_column</Layout>
	<PagePositions>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>9S4M9</PagePositionId>
			<LayoutPositionId>mainContainer</LayoutPositionId>
			<Order>0</Order>
			<ViewName>News.List</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
	</PagePositions>
	<DataRules>
		<DataRuleSetting>
			<DataName>NewsList</DataName>
			<DataRule xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.DataRule" i:type="d4p1:FolderDataRule">
				<d4p1:WhereClauses i:nil="true" />
				<d4p1:SortField>UtcCreationDate</d4p1:SortField>
				<d4p1:SortDirection>Descending</d4p1:SortDirection>
				<d4p1:EnablePaging>false</d4p1:EnablePaging>
				<d4p1:PageIndex></d4p1:PageIndex>
				<d4p1:PageSize></d4p1:PageSize>
				<d4p1:Top></d4p1:Top>
				<d4p1:FolderName>News</d4p1:FolderName>
				<d4p1:CategoryFolderName></d4p1:CategoryFolderName>
				<d4p1:CategoryClauses i:nil="true" />
			</DataRule>
			<TakeOperation>List</TakeOperation>
			<CachingDuration>0</CachingDuration>
		</DataRuleSetting>
	</DataRules>
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Default</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Field1</d2p1:Key>
			<d2p1:Value>false</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Field2</d2p1:Key>
			<d2p1:Value></d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</CustomFields>
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle></ContentTitle>
	<Searchable>false</Searchable>
</Page>