<footer id="footer">
  
Bli medlem i Djurens Vänner
AktuelltHjälp oss bli en bättre förening genom att bli medlem och ge ditt stöd. Om du stödjer oss så får du Djurens Vänners tidning.

Medlemskap kostar 150 kr/år. 
Betala in medlemskapet på
Plusgiro: 580912-4
Bankgiro: 5534-0830
	<p class="copyright">@("Become a member".Label())</p>
   	<p class="copyright">@("Copyright &copy; 2009 - 2013 Kooboo team".Label())</p>
   	<a href="~/Admin">@("Admin Login".Label())</a>
</footer>