Alex 
<div class="block list">

<ul  class="list">
    @foreach (var item in ViewBag.AnimalList){
    <li>X
        <a class='title' href='@Url.FrontUrl().PageUrl("Saknade/detail",new { UserKey = item.UserKey})'>@item.Header</a>X
    </li>
    }
</ul>
</div>