<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<SqlServerSettings xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.SqlServer">
  <Connections xdt:Transform="Remove"></Connections>
  <Connections xdt:Transform="Insert">
    <ConnectionSetting>
      <ConnectionString>Data Source=msdb3.surftown.se;Initial Catalog=dvlidko_kooboo;User ID=dvlidko_databas;Password=rockon</ConnectionString>
      <Name>Djurens vanner</Name>
    </ConnectionSetting>
  </Connections>
  <SharingDatabaseConnectionString xdt:Transform="Remove" />
  <SharingDatabaseConnectionString xdt:Transform="Insert">Data Source=msdb3.surftown.se;Initial Catalog=dvlidko_kooboo;User ID=dvlidko_databas;Password=rockon</SharingDatabaseConnectionString>
</SqlServerSettings>