<SqlServerSettings xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.SqlServer" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Connections>
    <ConnectionSetting>
      <ConnectionString>Data Source=p1188GBG;Initial Catalog=DjurensVannerKooBoo;User ID=dvlidkoping;Password=dvlidkoping</ConnectionString>
      <Name>Djurens vanner</Name>
    </ConnectionSetting>
  </Connections>
  <EnableLogging>false</EnableLogging>
  <SharingDatabaseConnectionString>Data Source=p1188GBG;Initial Catalog=DjurensVannerKooBoo;User ID=dvlidkoping;Password=dvlidkoping</SharingDatabaseConnectionString>
</SqlServerSettings>