<footer id="footer">
  	<ul>
    	<li class="footer-item footer-item-member">
          	<h3>
          		@("Become a member header".Label())
          	</h3>
          	@("Become a member paragrath".Label())
		</li>
	</ul>
	<a href="~/Admin">@("Admin Login".Label())</a>
</footer>