@using Kooboo.CMS.Search;
@using Kooboo.CMS.Content.Models;
<section class="header-content">
  <h1>
     @ViewBag.AnimalPage.Header 
  </h1>
  <div>
    @Html.Raw(ViewBag.AnimalPage.Text)
  </div>
 </section>