<?xml version="1.0" encoding="utf-8"?>
<Schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<Name>Animal</Name>
	<Columns>
		<Column>
			<Name>Header</Name>
			<Label>Överskrift</Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>1</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form">
				<d4p1:ColumnValidation i:type="d4p1:RequiredValidation">
					<d4p1:ErrorMessage>ddfsds</d4p1:ErrorMessage>
				</d4p1:ColumnValidation>
			</Validations>
			<DefaultValue i:nil="true" />
			<Summarize>true</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Images</Name>
			<Label>Bilder</Label>
			<DataType>String</DataType>
			<ControlType>MediaFiles</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>2</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Text</Name>
			<Label>Text om djuret</Label>
			<DataType>String</DataType>
			<ControlType>Tinymce</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>3</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Status</Name>
			<Label i:nil="true" />
			<DataType>String</DataType>
			<ControlType>DropDownList</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>4</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form">
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Utplacering</d4p1:Text>
					<d4p1:Value>Deployment</d4p1:Value>
				</d4p1:SelectListItem>
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Saknad</d4p1:Text>
					<d4p1:Value>Missing</d4p1:Value>
				</d4p1:SelectListItem>
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Upphittad</d4p1:Text>
					<d4p1:Value>Found</d4p1:Value>
				</d4p1:SelectListItem>
			</SelectionItems>
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Phone</Name>
			<Label>Telefon</Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>5</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Email</Name>
			<Label>Email</Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>6</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>AnimalType</Name>
			<Label i:nil="true" />
			<DataType>String</DataType>
			<ControlType>DropDownList</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>7</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form">
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Katt</d4p1:Text>
					<d4p1:Value>CAT</d4p1:Value>
				</d4p1:SelectListItem>
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Hund</d4p1:Text>
					<d4p1:Value>DOG</d4p1:Value>
				</d4p1:SelectListItem>
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Marsvin</d4p1:Text>
					<d4p1:Value>GUINEA</d4p1:Value>
				</d4p1:SelectListItem>
			</SelectionItems>
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue>CAT</DefaultValue>
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>ContactPerson</Name>
			<Label>Namn på personen som ska kontaktas</Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>8</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue>Djurens vänner</DefaultValue>
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>UserKey</Name>
			<Label>Identifier</Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>9</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
	</Columns>
	<TemplateBuildByMachine>true</TemplateBuildByMachine>
	<IsTreeStyle>false</IsTreeStyle>
</Schema>