
<ul class="menu-inner">
  @foreach (var item in MenuHelper.Sub()){
  	if (item.Navigation.Show){
  		<li class ='@(MenuHelper.IsCurrent(item) ? "current" : "")'>@Html.FrontHtml().PageLink(item.LinkText, item.FullName)</li>
  	}
  }
  @if(MenuHelper.Parent() != null){
    foreach (var item in MenuHelper.Sibling()){
        if (item.Navigation.Show)
        {
            <li class ='@(MenuHelper.IsCurrent(item) ? "current" : "")'>@Html.FrontHtml().PageLink(item.LinkText, item.FullName)</li>
        }
    }
  }
</ul>

